@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic");
*, *:focus, *:active {
  outline: none;
  list-style: none;
  text-decoration: none; }

html {
  font-size: 16px;
  color: #222222; }

.b-title {
  text-transform: uppercase;
  font: 300 2.75rem "Open Sans", sans-serif;
  position: relative;
  margin: 80px 0 100px;
  text-align: center; }
  .b-title span {
    font-weight: 600; }
  .b-title :after, .b-title :before {
    content: '';
    background-color: #e8aa4e;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px; }
  .b-title :after {
    bottom: -10px;
    width: 99px; }
  .b-title :before {
    bottom: -20px;
    width: 67px; }
  .b-title._title-white {
    color: #ffffff; }
  .b-title._title-dark {
    color: #272727; }
  @media screen and (max-width: 770px) {
    .b-title {
      margin: 30px 0 55px;
      font: 300 2.3rem "Open Sans", sans-serif; } }

.b-slider-row {
  background-color: #222222; }

.b-heroes-slider {
  opacity: 0;
  transition: opacity .3s ease-in-out; }
  .b-heroes-slider.slick-slider.slick-initialized {
    opacity: 1; }

.b-heroes-slider__unit {
  min-height: 300px;
  margin: 0 10px;
  color: #ffffff;
  text-align: center;
  font: 400 1rem "Open Sans", sans-serif; }
  .b-heroes-slider__unit .__photo {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto 20px;
    background: center /cover no-repeat; }
  .b-heroes-slider__unit .__name {
    font-weight: 600;
    font-size: 1.25rem; }
  .b-heroes-slider__unit .__rank {
    margin-bottom: 30px; }
  .b-heroes-slider__unit .__enter-date {
    font-size: 0.87rem;
    line-height: 1.5rem; }
    .b-heroes-slider__unit .__enter-date span {
      display: block; }

.b-heroes-slider__pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0; }
  .b-heroes-slider__pagination li {
    width: 10px;
    height: 10px;
    margin: 0 10px; }
    .b-heroes-slider__pagination li :focus {
      outline: none; }
  .b-heroes-slider__pagination li.slick-active button {
    background-color: #e8aa4e;
    cursor: default; }
  .b-heroes-slider__pagination button {
    font-size: 0;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: none;
    background-color: #ffffff; }

.b-add-form {
  font-family: 400 14px "Open Sans", sans-serif; }
  .b-add-form label {
    display: block; }
    .b-add-form label span {
      color: red; }
  .b-add-form input {
    padding: 8px 8px 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4); }
  .b-add-form [type="submit"] {
    color: #ffffff;
    background-color: #e8aa4e;
    padding: 10px 40px;
    margin: 40px 0;
    width: auto;
    cursor: pointer;
    border: none;
    transition: background-color .2s ease-in-out; }
    .b-add-form [type="submit"]:hover {
      background-color: #e0a34d; }
  .b-add-form #add-form__photo {
    display: none; }
  .b-add-form .add-form__photo {
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    cursor: pointer;
    background-color: transparent;
    font: 300 12px "Open Sans", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: background-color .2s ease-in-out; }
    .b-add-form .add-form__photo.dragover {
      background-color: rgba(232, 170, 78, 0.29);
      border: 1px dashed #222222; }
    .b-add-form .add-form__photo.drop {
      background-color: rgba(23, 232, 32, 0.29); }
    .b-add-form .add-form__photo.error {
      background-color: rgba(232, 0, 1, 0.29); }

.b-success {
  display: none;
  border: 1px solid #222222;
  margin-bottom: 80px; }
  .b-success #resume {
    color: #ffffff;
    background-color: #e8aa4e;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    display: table;
    margin: 0 auto 30px;
    transition: background-color .2s ease-in-out; }
    .b-success #resume:hover {
      background-color: #e0a34d; }
  .b-success #successMessage {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px; }
    .b-success #successMessage span {
      font-weight: 600; }

.b-footer {
  background-color: #222222;
  padding: 30px 0 25px; }

.b-copyright {
  font-size: 0.75rem;
  letter-spacing: 0.3px;
  color: #b0b0b0; }
  .b-copyright span {
    color: #ffffff;
    font-weight: 600; }
  @media screen and (max-width: 770px) {
    .b-copyright {
      text-align: center;
      margin-bottom: 20px; } }

.b-social-icons {
  display: flex;
  justify-content: flex-end; }
  .b-social-icons .__elem {
    width: 30px;
    height: 30px;
    background: center /contain no-repeat;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer; }
    .b-social-icons .__elem:last-child {
      margin-right: 0; }
  @media screen and (max-width: 770px) {
    .b-social-icons {
      justify-content: center; } }
