@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

$background-color: #222222;
$sub-color: #e8aa4e;
$primary-font: "Open Sans", sans-serif;

*, *:focus, *:active {
  outline: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
  color: $background-color;
}

.b-title {
  text-transform: uppercase;
  font: 300 2.75rem $primary-font;
  position: relative;
  margin: 80px 0 100px;
  text-align: center;
  span {
    font-weight: 600;
  }
  :after, :before {
    content: '';
    background-color: $sub-color;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
  }
  :after {
    bottom: -10px;
    width: 99px;
  }
  :before {
    bottom: -20px;
    width: 67px;
  }
  &._title-white {
    color: #ffffff;
  }
  &._title-dark {
    color: #272727;
  }
  @media screen and(max-width: 770px) {
    margin: 30px 0 55px;
    font: 300 2.3rem $primary-font;
  }
}

.b-slider-row {
  background-color: $background-color;
}

.b-heroes-slider {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  &.slick-slider.slick-initialized {
    opacity: 1;
  }
}

.b-heroes-slider__unit {
  min-height: 300px;
  margin: 0 10px;
  color: #ffffff;
  text-align: center;
  font: 400 1rem $primary-font;
  .__photo {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto 20px;
    background: center /cover no-repeat;
  }
  .__name {
    font-weight: 600;
    font-size: 1.25rem;
  }
  .__rank {
    margin-bottom: 30px;
  }
  .__enter-date {
    font-size: 0.87rem;
    line-height: 1.5rem;
    span {
      display: block;
    }
  }
}

.b-heroes-slider__pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
  li {
    width: 10px;
    height: 10px;
    margin: 0 10px;

    :focus {
      outline: none;
    }
  }
  li.slick-active {
    button {
      background-color: $sub-color;
      cursor: default;
    }
  }
  button {
    font-size: 0;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: none;
    background-color: #ffffff;
  }
}

.b-add-form {
  font-family: 400 14px $primary-font;
  label {
    display: block;
    span {
      color: red;
    }
  }
  input {
    padding: 8px 8px 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  [type="submit"] {
    color: #ffffff;
    background-color: #e8aa4e;
    padding: 10px 40px;
    margin: 40px 0;
    width: auto;
    cursor: pointer;
    border: none;
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: #e0a34d;
    }
  }
  #add-form__photo {
    display: none;
  }
  .add-form__photo {
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    cursor: pointer;
    background-color: transparent;
    font: 300 12px $primary-font;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: background-color .2s ease-in-out;
    &.dragover {
      background-color: rgba(232, 170, 78, 0.29);
      border: 1px dashed $background-color;
    }
    &.drop {
      background-color: rgba(23, 232, 32, 0.29);
    }
    &.error {
      background-color: rgba(232, 0, 1, 0.29);
    }
  }
}

.b-success {
  display: none;
  border: 1px solid $background-color;
  margin-bottom: 80px;
  #resume {
    color: #ffffff;
    background-color: #e8aa4e;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    display: table;
    margin:0 auto 30px;
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: #e0a34d;
    }
  }
  #successMessage {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    span {
      font-weight: 600;
    }
  }
}

.b-footer {
  background-color: $background-color;
  padding: 30px 0 25px;
}

.b-copyright {
  font-size: 0.75rem;
  letter-spacing: 0.3px;
  color: #b0b0b0;
  span {
    color: #ffffff;
    font-weight: 600;
  }
  @media screen and (max-width: 770px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.b-social-icons {
  display: flex;
  justify-content: flex-end;
  .__elem {
    width: 30px;
    height: 30px;
    background: center /contain no-repeat;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 770px) {
    justify-content: center;
  }
}